@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'rabikiso';
    src: url('/assets/fonts/cedge1.ttf') format('truetype');
}
:root {
    --color-background: #000000;
  }
body{
    background: var(--color-background);
}