@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'rabikiso';
  src: url('/assets/fonts/cedge1.ttf') format('truetype');
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?xvytw5');
  src:
    url('/assets/fonts/icomoon.eot?xvytw5#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?xvytw5') format('truetype'),
    url('/assets/fonts/icomoon.woff?xvytw5') format('woff'),
    url('/assets/fonts/icomoon.svg?xvytw5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'IBM BIOS-2y';
  src: url('/assets/fonts/ibm-bios-2y.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #00ff00; /* Vibrant Green */
  --color-secondary: #0000ff; /* Neon Blue */
  --color-tertiary: #a0a0a0; /* Metallic Gray */
  --color-error: #ff0000; /* Bright Red */
  --color-bg: #000000; /* Black Background */
  --color-highlight: #ff00ff; /* Neon Pink */
  --color-warning: #ffa500; /* Orange */
  --color-success: #008000; /* Bright Green */
  --color-information: #5f9ea0; /* Light Blue */
}
body {
  color: var(--color-primary);
  background: var(--color-bg);
  font-family: 'IBM BIOS-2y', Fallback, sans-serif;
}

.inverted {
  color: var(--color-bg);
  background: var(--color-primary);
}
